@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

.container {
  margin-inline : auto;
  padding-inline: 1rem;
}
@theme {
  /* font */
  --font-poppins: "Poppins", sans-serif; 

  /* breakpoints */
  --breakpoint-sm: 36rem;  /* 576px */
  --breakpoint-md: 48rem;  /* 768px */
  --breakpoint-lg: 64rem;  /* 1024px */
  --breakpoint-xl: 68.75rem; /* 1100px */
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}


@theme inline {
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
 
  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg))
        translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg))
        translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}